.sidenav {
  position: absolute;
  top: 0px;
  height: (100%) !important;
  width: 100%;
  left: 0%;
  transition: left 0.35s;
  padding: 2rem;
  background-color: inherit;
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.divergence-meter {
  background-position: -1;
  display: flex;
  vertical-align: middle;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
}

.divergence-meter div {
  vertical-align: middle;
  margin-left: auto;
	margin-right: auto;
  display:inline-block;
	height: 307px;
	width: 104px;
}

.divergence-meter .frame {
	background-image: url(image/empty.png);
}